name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ] # Or your primary branch name

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install and Build
        run: |
          npm install
          npm run build # Ensure this creates a /dist folder

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist